server {
    listen 80;
    server_name ${domain};

    location / {
        # Preserve the HTTP method and headers in redirect
        # https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/307#:~:text=HTTP%20307%20Temporary%20Redirect%20redirect,to%20perform%20the%20redirected%20request.
        return 307 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    server_name ${domain};

    ssl_certificate /etc/nginx/site_certs/${domain}/fullchain.pem;
    ssl_certificate_key /etc/nginx/site_certs/${domain}/privkey.pem;

    include /etc/nginx/includes/options-ssl-nginx.conf;

    ssl_dhparam /etc/nginx/global_certs/ssl-dhparams.pem;

    include /etc/nginx/includes/hsts.conf;

    location / {
        include /etc/nginx/includes/proxy.conf;
        # Protocol must be specified - leave as http unless you also have a cert installed on upstream
        set $upstream http://${host}:${port};
        proxy_pass $upstream;
    }
}
